:host {
  background-color: white;
  display: block;
  padding: 1em;
  width: 1000px;
  max-width: calc(100% - 100px);
  text-align: center;
  margin: 2em auto;
  border-radius: 10px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.05);
}

img {
  max-height: 500px;
  max-width: calc(100% - 30px);
  border: 10px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-1deg);
  margin: 1em auto 2em;
}

.nenhuma-foto {
  height: 200px;
  width: 300px;
  max-width: calc(100% - 30px);
  border: 10px solid white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  transform: rotate(-1deg);
  margin: 1em auto 2em;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1e8ee;
  color: #bcc0c5;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;

  .info {
    display: flex;
    align-items: center;
  }

  button {
    width: 2rem;
    height: 2rem;
    margin: 0 4px;
    border: none;
    background-color: #dce2e8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 3px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      background-color: darken(#dce2e8, 10%);
    }
  }
}
